.header {
    background-image: url("../static/black-cat.png");
    background-size: cover;
    height: 75px;
    text-align: center;
    color: white;
    padding-top: 30px;
    font-size: 10px;

  }

.banner {
  height: 75px; /* Adjust height as needed */
  background-color: #fff; /* Adjust background color as needed */
}

.container {
  text-align: center;
  position: relative;
}

.prompt-info, .textbox-facts {

  height: 40px;
  width: calc(50% - 100px); 
  margin: 10px;
  margin-bottom: 0;
  /* Adjust spacing between banner and input box */
  display: inline-block;
  box-sizing: border-box;
}

.prompt-info {
  background-color: lightgray;
}

.textbox-facts {
  background-color: tomato;
}

.input-box, .decorativebox { 
  height: 450px;
  width: calc(50% - 100px); 
  margin: 10px;
  margin-top: 0;
  margin-bottom: 0;
  /* Adjust spacing between banner and input box */
  display: inline-block;
  box-sizing: border-box;
}


.button-container {
    margin-top: 10px; 
    position: relative; 
}

.button-container button:hover {
  background-color: #005ec2; 
}

.button-container button:active {
  background: #005ec2;
  -webkit-box-shadow: inset 0px 0px 5px #1c1c1c;
     -moz-box-shadow: inset 0px 0px 5px #1c1c1c;
          box-shadow: inset 0px 0px 5px #1c1c1c;
   outline: none;
}

.button-run,.button-reset, .button-nextpage {
    padding: 10px 20px; 
    margin: 0 5px; 
    left: 15%;
    background-color: #007bff; 
    color: #fff;
    border: none;
    border-radius: 5px; /* Add border radius for rounded corners */
    cursor: pointer; /* Change cursor to pointer on hover */
}

.decorativebox {
  background-color: tomato;
}

.overlay-image {
  position: absolute;
  bottom: 0;
  right: 5%;  
  transform: translateX(-50%);
  z-index: 1;
  width: 350px; 
  height: auto;
}